<div class="col-md-2 col-md-offset-5 margin-authentication">
<form>
    <fieldset class="form-group">
      <span class="pull-left" ><mark class="text-success "><b>{{message}}</b></mark></span>
    </fieldset>
    <fieldset class="form-group padding-top">
        <input type="email" placeholder="Email" ng-model="email" required>
    </fieldset>
    <fieldset class="form-group ">
        <input type="password" placeholder="Password" ng-model="password" required>
    </fieldset>
    <fieldset class="form-group">
        <button type="submit" class="btn btn-primary btn-block" ng-click="signIn();">Sign In</button>
    </fieldset>
    <a href="register">Don't have an account? Register Here!</a>
    <a href="post">Post New</a>
    <a href="allArticles">All Articles</a>
    <a href="userDashboard">User List</a>
</form>
</div>
