body {
    margin: auto;

}
.padding-top{
  padding-top : 15px;
}
#wrap {
  min-height: 88%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0px auto -60px ;
  /* Pad bottom by footer height */
  padding: 50px 0 60px;
}
input {
    width: 100%;
    height:35px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 3px;
    border: solid 1px gray;
    padding:5px;
}
.message-padding-top{
padding-top: 10px;
}
.header-background{
  background-color: #016658;
  margin-left:0px;
  margin-right:0px;
}
.logo-header{
  max-width:50%;
}
.footer{
  margin-left:15px;
}
.margin-authentication{
  margin-top:60px;
}
.valign{
  margin-top:30px;
}
.margin-left-button{
  margin-left:10px;
}
.editor-height{
  min-height:50%;
}
.post-heading{
  align:left;
  margin-top: 0px;
}
.margin-post-top{
  margin-top:60px;
}
.table-margin-top{
  margin-top:50px;
}
