<input type="text" ng-model="search" class="form-control" style="width:20%;display:inline;margin-right:30%" placeholder="Search">

<div class="col-md-8 col-md-offset-2 ">
<table class="table table-margin-top" >
  <tbody >
      <tr dir-paginate="cut in allArticles|orderBy:sort:true|filter:search|itemsPerPage:10">
          <td class="col-md-2">{{cut.upVotes}}</td>
          <td class="col-md-6">{{cut.title}}</td>
      <tr>
    </tbody>
</table>
<dir-pagination-controls
       max-size="5"
       direction-links="true"
       boundary-links="true" >
    </dir-pagination-controls>
</div>
</div>
